* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    overflow: hidden;
}
body {
    font-size: 20px;
    background: white;
    font-family: monospace;
}
footer, section, header, aside, figure {
    display: block;
}

li {
    list-style: none;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.playing .container {
    cursor: none;
}

@media screen and (min-device-width: 700px) {
    #container {
        width: 65%;
        min-width: 700px;
        height: 80%;
        margin: 0 auto;
    }
}
.play-test {
    margin: 0 auto;
    font-family: monospace;
}
.score-test {
    margin: 40px 0;
}
.scoresinfo {
    font-size: 24px;
}
.playfield, .gameover, .instructions, .intro, .highscores {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
#playfield, #gameover, #instructions, #intro, #highscores{
    position: absolute;
    top: -900px;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    -ms-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s;
}

/*cebulka play*/
.playbutton {
    width: 100px;
}

.playbutton:hover {
    cursor: pointer;
    height: 105px;
    width: 105px;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    animation-name: startanim;
    animation-duration: 0.15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes startanim {
    50% {
        transform: translateX(3px) rotate(4deg);
    }
    100% {
        transform: translateX(-3px) rotate(-4deg);
    }
}
.click {
    height: 58px;
    padding-bottom: 60px;
}
.main-content {
    text-align: center;
    padding-top: 100px;
}
h3 {
    font-size: 22px;
    padding: 10px;
}
#playfield.current,
#gameover.current,
#highscores.current,
#instructions.current,
#intro.current {
    top: 0;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    -ms-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s;
}
.characters li.introdeck {
    opacity: 0;
    left: -9000px;
    position: absolute;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.introdeck li {
    font-weight: bold;
}
.onion, .sprite {
    height: 64px;
}
.characters .current, .characters .introdeck, .characters .introdeck2 {
    width: 80%;
    margin: 5px auto;
    text-align: center;
    padding-top: 40px;
}



.characters .current ul {
    margin: 5px 0;
}
.characters .current li {
    display: inline;
    padding-right: 10px;
}
.characters li.current {
    opacity: 1;
    left: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.right {
    display: block;
    position: absolute;
    right: 0;
    bottom: 20px;
}
.left {
    display: block;
    position: absolute;
    left: 0;
    bottom: 20px;
}
canvas {
    width: 100%;
    height: 100%;
}
#scoresinfo {
    position: absolute;
    width: 100%;
    padding: 5px 0;
    background: transparent;
}

#energy, #score {
    position: relative;
    color: #fff;
    padding-left: 20px;
}

#tasks{
    font-size: 35px
}

#energy output, #score output {
    position: absolute;
    right: 20px;
}

.characters {
    font-size: 15px;
}

.instructionbutton, .highscoresbutton {
    font-size: 44px;
    margin-bottom: 10px;
    text-align: center;
}
.instructionbutton:hover, .highscoresbutton:hover {
    cursor: pointer;
    /*font-size: 47px;*/
    transform: scale(1.04);
    transition: ease-in-out;
}
#container {
    margin-top: 65px;
    background: url("./img-game/background2.jpg");
    background-size: cover;
    outline: 0;
}
.container p {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    padding-top: 40px;
}
#intro h1 span {
    /*text-indent: -2000px;*/
    background: url(img-game/cbulagame-logo.png) no-repeat center;
    background-size: contain;
    height: 102px;
    display: block;
}

#gameover h1 {
    background: url(img/gameover03.gif) no-repeat center;
    padding-top: 100px;
    /*text-align: center;*/
    text-transform: uppercase;
    margin-top: 40px;
    background-size: auto;
}
.intro ul, .intro p, .gameover p {
    width: 80%;
    margin: 10px auto;
}

.intro p, .score-test li {
    font-size: 18px;
    text-align: center;
}
.intro p {
    margin: 20px auto;
    text-align: right;
}

/*#intro h1 {*/
/*text-align: center;*/
/*font-size: 30px;*/
/*text-transform: uppercase;*/
/*}*/

#characters2 button, #characters button {
    background: #d9f90a;
    display: block;
    width: 50px;
    height: 50px;
    background: linear-gradient(top, #e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    float: right;
}
#gameover button {
    background: #d9f90a;
    flex-direction: row;
    text-align: center;
    display: block;
    width: 100px;
    height: 100px;
    background: linear-gradient(top, #e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
    border-radius: 50%;
}

#intro button:hover, #intro button:focus, #gameover button:hover, #gameover button:focus {
    box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.7);
}

.player {
    display: block;
    margin: 5px auto;
    width: 108px;
    height: 85px;
}

.right, .left {
    z-index: 10;
    line-height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    background: #9dd53a;
    background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd53a), color-stop(50%, #a1d54f), color-stop(51%, #80c217), color-stop(100%, #7cbc0a));
    background: -webkit-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
    background: -o-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
    background: -ms-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
    background: linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
}

