<<<<<<< HEAD

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a:link, a:visited{
    front-weight: bold;
    color: black;
    background-color:white;
    width: 220px;
    text-align: right;
    padding: 4px;
    text-transform:uppercase;text-decoration: none;
}
a:hover,a:active{
    background-color: #B3BBBC;
    text-decoration-line: underline;
    text-decoration-color: #C3D330;
}
li{
    float: right;
}
.logo img
{
    width: 30px;
    height: auto;
    float: left;
}
.row
{
    max-width: 1200px;
    margin: auto;
=======
body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* 4 Boxes Icons*/
.boxes{
    margin-top: 1.25em;
}
.boxes .box{
    float:left;
    text-align: center;
    width:23%;
    padding: 0.625rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.25rem;
}
.boxes .box img{
    width: 12.5em;
}
/*function password*/
.box h2 {
    font-size: 1.6rem;
    font-family: "DejaVu Sans Light";
}
/*information about license*/
.information_icons {
    font-size: 0.625rem;
    float: left;
}
.information_icons a {
    text-decoration: none;
    color: black;
>>>>>>> origin/master
}