
body {
    margin: 0;
    padding: 0;
    /*font-family:*/
    font-weight: 400;


}

#menu li {
    display: inline-block;
}

.main-content {
    width: 100vw;
    height: 90vh;
    background-image: url("img/header.jpg");
    background-size: cover;
    -webkit-background-size: cover;
}
.intro {
    background-position: center center;
    text-align: center;
    color: white; /*inherite*/
    display: flex;
    flex-direction: column;
}
.intro-headline {
    font-weight: bolder;
    font-size: 80px;
    text-shadow: 1px 1px white;
    padding-top: 120px;
}
.intro-slogan {
    font-size: 35px;
    font-weight: bolder;
    line-height: 10px;
}
.intro-newsletter {
    border: 3px solid white;
    padding: 20px 30px;
    font-size: 25px;
    font-weight: 600;
    background-color: transparent;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
}
.intro-newsletter:hover {
    background-color: white;
    color: #435155;
    opacity: 0.9;
}
.intro-newsletter-button {
    transform: translateY(170px);
}